{% extends 'pulse/base.htm' %}

{% block content %}

<div class="row">
     <div class="col-md-6">
        <h1>This is the CSS</h1>
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
         details
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
           listing status
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
           sensitivity
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
           location map
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
           evaluation history: location, nature
     </div><!--ends-->
</div><!--ends-->
<div class="row">
     <div class="col-md-6">
           initial evaluation
     </div><!--ends-->
</div><!--ends-->

<div class="row">
     <div class="col-md-3">
           verdict
     </div><!--ends-->
     <div class="col-md-3">
           additional info
     </div><!--ends-->     
     <div class="col-md-3">
           site visit
     </div><!--ends-->     
     <div class="col-md-3">
           EIA, EMP, authorisation
     </div><!--ends-->
</div><!--ends-->

{% endblock %}