{% extends 'pulse/base.htm' %}

{% block content %}

<ol>
<li>Reference is made to the Project Brief for the <strong>xxxxxx</strong> that you submitted to the Department of Environmental Affairs (DEA) on <strong>31 July 2019</strong> for review.</li>
<li>The DEA has resolved in accordance with Section 6 (3) of the Environmental Assessment Act No. 10 of 2011, to <strong>authorise</strong> the project to proceed without being subjected to a detailed Environmental Impact Assessment (EIA).</li>
<li>The authorisation is however, subject to the following conditions:
    <ul>
      <li>All operations should be aligned to Botswana laws, international best practise and relevant standards for day to day operations.</li>
      <li>The authorisation is specific only for the <strong>xxxxxx</strong> which are stipulated in the Project Brief, and the Proponent is advised to make a formal application to DEA prior to additional future developments.</li>
      <li>In the event that the developer plans to make additional developments not indicated and assessed in the Project Brief, a new application for the development of such activities will have to be submitted to the DEA for consideration prior to commencement.</li>
      <li>The authorisation cannot apply to another project even at the same location, or to the same project at a different location.</li>
      <li>Kindly consult the Department of Waste Management and Pollution Control for appropriate waste management systems.</li>
      <li>Kindly note that a soak-away system is not allowed.</li>
      <li>The developer should consult all relevant planning and regulating authorities such as Land Board, Physical Planning Unit, Department of Environmental and Occupational Health etc</li>
      <li>This authorisation may be revoked if the above-outlined conditions are not complied with.</li>
    </ul>
</li>
<li>The authorisation for this project is valid for the duration of the lease / granted certificate period with maximum five (5) years periodic review intervals in consultation with the DEA.</li>
<li>Kindly note that this response is valid for a period of 24 months upon which the project should have commenced.</li>
<li>The DEA will in future undertake an unannounced spot check, environmental inspections, or environmental audit of the project to assess the level of environmental compliance.</li>
</ol>

{% endblock %}